<% provide(:title, "Help") %>
<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
  <title>You need somebody? </title>
  </head>
  <body>
    <h1>Not just anybody?</h1>
    <p>
      FIND A FRIEND, HOMESLICE!
    </p>
  </body>
</html>